.toggle {
  display: flex;
  gap: var(--spacing-md);
  border-bottom: 1px solid var(--color-border);
  margin-bottom: var(--spacing-lg);
}

.button,
.active {
  background: none;
  border: none;
  font-family: var(--font-ibm-plex-mono), monospace;
  font-size: var(--font-size-base);
  cursor: pointer;
  padding: var(--spacing-xs) 0;
  color: var(--color-text);
}

.button {
  opacity: 0.5;
}

.button:hover {
  opacity: 0.75;
}

.active {
  opacity: 1;
  border-bottom: 2px solid var(--color-border);
  margin-bottom: -1px;
}